.body-favorite {
  background-color: #ffbee3;
}

.addBackground {
  background-image: url("../src/components/picture/barbiefoto1.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  background-position: center;
  transform: translateX(0px);
  animation: float 6s ease-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hearts {
  > .particle {
    opacity: 0;
    position: absolute;
    background-color: rgba(204, 42, 93, 1);
    animation: hearts 3s ease-in infinite;
  }

  > .particle:before,
  > .particle:after {
    position: absolute;
    content: "";
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(191, 48, 94);
  }

  > .particle:before {
    transform: translateX(-50%);
  }

  > .particle:after {
    transform: translateY(-50%);
  }
}

&.lines {
  > .particle {
    position: absolute;
    background-color: rgba(233, 25, 136, 0.5);
    animation: lines 3s linear infinite;
  }
}

@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes lines {
  0%,
  50%,
  100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-100%);
  }
}
