.addBackground {
  /* background-image: url("../src/components/picture/barbiefoto1.webp"); */
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  background-position: center;
  transform: translateX(0px);
  animation: float 6s ease-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
